.controls
  = link_to "edit", edit_post_path(post), class: "record-control blue"
  = link_to "delete", post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, class: "record-control red"
