main
  @include outer-container()
  min-height: 35em

article.post, article.category
  margin: 3em auto 0
  width: 90%
  +media($medium-screen)
    width: 80%
  +media($large-screen)
    width: 70%
  hgroup
    position: relative
    padding-bottom: 2em
    strong
      color: grey

#categories
  display: none
  background-color: darken(grey, 20%)
  +media($medium-screen)
    display: block
  ul
    +clearfix
  li
    float: left
    font-size: 0.75em
    border-left: 1px solid rgba(255, 255, 255, 0.5)
    line-height: 1.8
    +transition(background-color 0.3s)
    &:first-of-type
      border: none
    &:hover
      background-color: rgba(white, 0.5)
      a
        color: black
    a
      display: block
      color: rgba(255, 255, 255, 0.5)
      padding: 0 1em
      +transition(color 0.3s)
